.App {
  font-family: sans-serif;
  text-align: center;
}

.link {
  color: #fff;
}

.link:hover {
  color: #fff;
}

.center {
  left:15%;
  width:75%;
  height:75%;
  position:absolute;
  text-align: center;
}

.card-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.row {
  padding: 1%;
}
